.button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #1d2631;
  display: block;
  width: 280px;
  border: 3px solid #ffffff;
  border-radius: 30px;
  margin: 0 auto;
  padding: 16px;
}

.button--download:hover,
.button--download:focus {
  color: #d22856;
  background-color: #ffffff;
}

.button--download:active {
  color: rgba(#d22856, 0.3);
  background-color: #ffffff;
}

.button--submit {
  color: #d22856;
  background-color: #f2f2f2;
  border: 3px solid #d22856;
}

.button--submit:hover,
.button--submit:focus {
  color: #ffffff;
  background-color: #d22856;
}

.button--submit:active {
  color: rgba(#ffffff, 0.3);
}

.button--reset {
  color: rgba(#283645, 0.1);
  background-color: #f2f2f2;
  border: 3px solid rgba(#283645, 0.1);
}

.button--reset:hover,
.button--reset:focus {
  color: rgba(#283645, 0.3);
  border: 3px solid rgba(#283645, 0.3);
}

.button--reset:active {
  background-color: #283645;
  color: rgba(#ffffff, 0.3);
  border: 3px solid #283645;
  opacity: 0.3;
}

.button--form {
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
}

.button--form:hover,
.button--form:focus {
  background-color: #1c9b5e;
}

.button--form:active {
  color: rgba(#ffffff, 0.3);
}

.button--form:disabled {
  background-color: #e5e5e5;
}

.button--modal {
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
}

.button--modal:hover,
.button--modal:focus {
  background-color: #1c9b5e;
}

.button--modal:active {
  color: rgba(#ffffff, 0.3);
}


@media (min-width: $tablet-width) {
  .button {
    width: 300px;
    background-color: transparent;
  }

  .button--form {
    background-color: #2aab6d;
  }

  .button--modal {
    background-color: #2aab6d;
  }

  .button--submit {
    width: 260px;
  }

  .button--reset {
    width: 260px;
  }
}

@media (min-width: $desktop-width) {
  .button--submit {
    width: 182px;
  }

  .button--reset {
    width: 182px;
  }

  .button--modal-succes {
    width: 460px;
  }
}
