.contacts {
  background-color: #ffffff;
}

.contacts__list {
  margin: 0;
  list-style: none;
}

.contacts__title {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  text-align: center;
}

.contacts__data {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  text-align: center;
}
