.download {
  background-color: #1d2631;
}


.download__content {
  padding: 20px;
}

.download__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.download__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  background-color: #1d2631;
  width: 280px;
  margin: 0 auto;
}
