.intro {
  background-color: #ffffff;
}

.intro__text {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #283645;
  background-color: #ffffff;
  width: 240px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}

.intro__text--index {
  font-size: 24px;
  font-weight: 300;
  width: 280px;
  padding: 20px 0;
}

.intro__text--form {
  width: 280px;
}
