.photo-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 280px;
}

.photo-list__item {
  margin-bottom: 20.5px;
}

.photo-list--panorama {
  width: 100%;
}

.photo-list__item--panorama {
  position: relative;
}

.photo-list__item--panorama img {
  width: 100%;
}

.photo-list__item--panorama::before {
  content: "Панорама дня";
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 140px;
  padding: 6px 0;
  background-color: #d22856;
}

.photo-list img {
  display: block;
}

.photo-list__text {
  background-color: #f2f2f2;
  width: 280px;
  margin: 0 auto;
  padding: 17px 17px;
  padding-bottom: 20px;
}

.photo-list__text--panorama {
  padding: 17px;
  padding-bottom: 20px;
}

.photo-list__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
  margin: 0;
}

.photo-list__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  text-transform: uppercase;
}

.photo-list__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  margin: 0;
  margin-bottom: 10px;
}

.photo-list__likes {
  position: relative;
  display: flex;
  align-items: center;
}

.photo-list__sum {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #d22856;
  text-transform: uppercase;
  margin: 0;
  margin-left: 18px;
}

.photo-list__button {
  width: 13px;
  height: 13px;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .photo-list {
    width: auto;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .photo-list__item {
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .photo-list__item--panorama img {
    min-height: 510px;
  }

  .photo-list__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 155px;
    padding: 23px 28px;
  }

  .photo-list__comment {
    margin: 0;
  }

  .photo-list__likes {
    margin-top: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .photo-list__sum {
    margin: 0;
  }

  .photo-list__item--panorama {
    width: 100%;
    margin-bottom: 50px;
  }

  .photo-list__item--panorama::before {
    top: 57px;
  }

  .photo-list__text--panorama {
    width: 620px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 121px;
    padding: 23px 28px;
    padding-bottom: 15px;
  }

  .photo-list__text--panorama .photo-list__comment {
    width: 100%;
    order: 3;
    margin-bottom: 10px;
  }

  .photo-list__text--panorama .photo-list__likes {
    margin: 0;
  }

  .photo-list__text--panorama .photo-list__sum {
    margin-right: 17px;
  }
}

@media (min-width: $desktop-width) {
  .photo-list__item {
    margin-bottom: 54px;
  }

  .photo-list__item--panorama {
    margin-bottom: 50px;
  }

  .photo-list__item--panorama img {
    min-height: 506px;
  }

  .photo-list__text--panorama {
    width: 940px;
    min-height: 96px;
    padding-bottom: 23px;
  }

  .photo-list__item--panorama::before {
    top: 55px;
    right: 130px;
  }

  .photo-list__text--panorama .photo-list__comment {
    margin: 0;
  }

  .photo-list__text--panorama .photo-list__sum {
    margin-right: 20px;
  }
}
