.purpose {
  background-color: #f2f2f2;
  min-width: 320px;
  margin: 0 auto;
}

.purpose__wrapper {
  display: flex;
  flex-direction: column;
}

.purpose__wrapper::after {
  content: "";
  display: block;
  height: 320px;
  background-image: url("../../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}

.purpose__list {
  list-style: none;
  padding: 0;
  width: 260px;
  margin: 0 auto;
}

.purpose__title {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
  color: #283645;
  background-color: #f2f2f2;
  text-align: center;
}

.purpose__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #283645;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .purpose {
    min-width: 660px;
  }

  .purpose__wrapper {
    flex-direction: row;
  }

  .purpose__list {
    order: 2;
  }

  .purpose__wrapper::after {
    width: 268px;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .purpose__list {
    display: flex;
    width: 960px;
  }

  .purpose__item::before {
    content: "";
    display: block;
    height: 320px;
    background-image: url("../../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .purpose__item--screen2::before {
    content: "";
    display: block;
    height: 320px;
    background-image: url("../../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .purpose__item--screen3::before {
    content: "";
    display: block;
    height: 320px;
    background-image: url("../../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .purpose__wrapper::after {
    display: none;
  }
}
