.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #283645;
  display: flex;
  flex-direction: column;
}

.site-list__item {
  text-align: center;
}

.site-list__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  display: block;
  padding: 5px 0;
  cursor: pointer;
}

.site-list__link:hover,
.site-list__link:focus {
  color: #d22856;
}

.site-list__link:active {
  color: rgba(#d22856, 0.3%);
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
